.root {
  height: 300px;
  overflow-y: scroll;
  border: 3px solid #aaa;
}
.info {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
  height: 100px;
  background-color: #f00;
  color: #fff;
  text-align: center;
}
.info.show {
  display: flex;
}
.content {
  height: 2000px;
}
.before-target {
  height: 100px;
  background-color: #4169e1;
  color: #fff;
}
.target {
  height: 300px;
  background-color: #222;
  color: #fff;
}
.target.--separate {
  background: linear-gradient(180deg, #f0bc68 0%, #f0bc68 50%, #c4d7d1 50%, #c4d7d1 100%);
}